.devtools-icon {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #444444;
    cursor: pointer;
    z-index: 5;
    font-size: 100px !important;
}

.devtools-icon:hover {
    color: #333333;
}

.devtools-icon:active {
    color: #111111;
}
